@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
}

body {
  @apply bg-white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in {
  animation: fade-in 0.2s ease-in-out;
}
